.mg10-right {
  margin-right: 10px;
}
.widgets {
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}
.full-width {
  margin: 0 -22px -16px;
}
.horizontal-scroll {
  overflow-x: auto;
  overflow-y: visible;
}
.panel-subtitle {
  font-size: 15px;
  margin-bottom: 16px;
}
.panel-nav {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 2;
}
.panel-nav i {
  cursor: pointer;
  font-size: 14px;
  color: #bfbfbf;
  margin-left: 11px;
  display: inline-block;
}
.panel-nav i.fa-minus {
  margin-bottom: -1px;
  vertical-align: bottom;
}
.panel-nav i:hover {
  color: #ffffff;
}
.dl-wizard {
  min-width: 650px;
}
.dl-wizard-progress {
  margin-top: 0px;
}
.dl-wizard-pager .previous {
  float: left;
}
.dl-wizard-pager .next {
  float: right;
}
.dl-wizard-navigation-container {
  display: table;
  table-layout: fixed;
  vertical-align: middle;
}
.dl-wizard-navigation-container .dl-wizard-navigation {
  display: table-cell;
  line-height: 1;
  text-align: center;
  font-size: 18px;
  color: #4d5761;
  opacity: 0.7;
  height: 50px;
  width: 150px;
  vertical-align: middle;
}
.dl-wizard-navigation-container .dl-wizard-navigation.active {
  opacity: 0.95;
  color: #00abff;
  border-bottom: 3px #00abff solid;
}
.form-group {
  margin: 20px 0 0 0;
  line-height: 36px;
  clear: both;
}
.form-group .form-group-left,
.form-group .form-group-left label {
  float: left;
  width: 180px;
  display: inline-block;
  text-align: right;
  color: #4d5761;
  margin: 0 10px 0 0;
  line-height: 36px;
  height: 36px;
  font-size: 14px;
  font-weight: normal;
}
.form-group .form-group-right {
  display: inline-block;
  width: calc(-100%);
}
.form-group .form-error {
  margin: 6px 0 -8px 200px;
  line-height: 12px;
  font-size: 12px;
  color: #ff5b55;
  font-weight: normal;
}
