<aside class="dl-sidebar-wrapper"
       [class.dl-sidebar-is-visible]="isVisible"
       [class.dl-sidebar-collapsed]="isCollapsed" *ngIf="switchSidebar !== 'home'">
  <div class="dl-sidebar">
    <ul class="dl-sidebar-menu">
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/button">
          <i class="fa fa-circle-o"></i>
          <span>Button</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/input">
          <i class="fa fa-circle-o"></i>
          <span>Input</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/tree">
          <i class="fa fa-circle-o"></i>
          <span>Tree</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/select">
          <i class="fa fa-circle-o"></i>
          <span>Select</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/radio">
          <i class="fa fa-circle-o"></i>
          <span>Radio</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/checkbox">
          <i class="fa fa-circle-o"></i>
          <span>Checkbox</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/wizard">
          <i class="fa fa-circle-o"></i>
          <span>Wizard</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/notice">
          <i class="fa fa-circle-o"></i>
          <span>Notice</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/breadcrumb">
          <i class="fa fa-circle-o"></i>
          <span>Breadcrumb</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/checkbox">
          <i class="fa fa-circle-o"></i>
          <span>Checkbox</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/progress">
          <i class="fa fa-circle-o"></i>
          <span>Progress</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/vard">
          <i class="fa fa-circle-o"></i>
          <span>Card</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/dropdown">
          <i class="fa fa-circle-o"></i>
          <span>Dropdown</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/form">
          <i class="fa fa-circle-o"></i>
          <span>Form</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/modal">
          <i class="fa fa-circle-o"></i>
          <span>Modal</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/tab">
          <i class="fa fa-circle-o"></i>
          <span>Tab</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/table">
          <i class="fa fa-circle-o"></i>
          <span>Table</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/timepicker">
          <i class="fa fa-circle-o"></i>
          <span>Timepicker</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/components/tooltip">
          <i class="fa fa-circle-o"></i>
          <span>Tooltip</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<div class="dl-sidebar-toggle hidden-md-up" *ngIf="switchSidebar !== 'home'">
  <a role="button" (click)="isVisible = !isVisible"><i class="fa fa-bars"></i></a>
</div>
