<header class="dl-header">
  <a role="button" class="logo-lg hidden-sm-down" (click)="switch('home')" routerLink="/main">
    <span>
      Web UI
    </span>
  </a>

  <nav class="dl-navbar">
    <a class="dl-navbar-link hidden-sm-down"
       role="button" (click)="collapseSidebar($event)" *ngIf="switchValue !== 'home'">
      <i class="fa fa-bars fa-fw"></i>
    </a>
    <a class="dl-navbar-link" role="button">
      起步
    </a>
    <!--<a class="dl-navbar-link" role="button" (click)="switch('css')" routerLink="/main/css">
      全局CSS样式
    </a>-->
    <a class="dl-navbar-link" role="button" (click)="switch('components')" routerLink="/main/components">
      Angular组件库
    </a>
  </nav>
</header>