<h3>Button</h3>
<dl-button [classType]="'primary'">primary</dl-button>
<dl-button [classType]="'secondary'">secondary</dl-button>
<dl-button [classType]="'success'" [i]="'plus'">创建</dl-button>
<dl-button [classType]="'info'">info</dl-button>
<dl-button [classType]="'warning'">warning</dl-button>
<dl-button [classType]="'danger'">danger</dl-button>
<dl-button [classType]="'link'">link</dl-button>
<br>
<br>
<dl-button [classType]="'primary-outline'">primary</dl-button>
<dl-button [classType]="'secondary-outline'">secondary</dl-button>
<dl-button [classType]="'success-outline'" [i]="'plus'">创建</dl-button>
<dl-button [classType]="'info-outline'">info</dl-button>
<dl-button [classType]="'warning-outline'">warning</dl-button>
<dl-button [classType]="'danger-outline'">danger</dl-button>
<br>
<br>
<br>
<br>
<br>
<br>
<dl-button [classType]="'primary'" [disabled]="true">primary</dl-button>
<dl-button [classType]="'secondary'" [disabled]="true">secondary</dl-button>
<dl-button [classType]="'success'" [i]="'plus'" [disabled]="true">创建</dl-button>
<dl-button [classType]="'info'" [disabled]="true">info</dl-button>
<dl-button [classType]="'warning'" [disabled]="true">warning</dl-button>
<dl-button [classType]="'danger'" [disabled]="true">danger</dl-button>
<dl-button [classType]="'link'" [disabled]="true">link</dl-button>
<br>
<br>
<dl-button [classType]="'primary-outline'" [disabled]="true">primary</dl-button>
<dl-button [classType]="'secondary-outline'" [disabled]="true">secondary</dl-button>
<dl-button [classType]="'success-outline'" [i]="'plus'" [disabled]="true">创建</dl-button>
<dl-button [classType]="'info-outline'" [disabled]="true">info</dl-button>
<dl-button [classType]="'warning-outline'" [disabled]="true">warning</dl-button>
<dl-button [classType]="'danger-outline'" [disabled]="true">danger</dl-button>