/*****************************/
/* button
/****************************/
.dl-btn {
    font-weight: normal;
    font-size: 14px;
    padding: 0 12px;
    min-width: 100px;
    height: 36px;
    line-height: 1;
    border-radius: 4px;
    outline: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.dl-btn.disabled, .dl-btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.dl-btn i {
    padding: 0 12px 0 0;
}

.dl-btn-primary {
    color: #fff;
    background-color: #00abff;
    border-color: #00abff;
}

.dl-btn-primary:hover {
    color: #fff;
    background-color: #00a3f5;
    border-color: #00a3f5;
}

.dl-btn-primary:focus {
    color: #fff;
    background-color: #009ceb;
    border-color: #009ceb;
}

.dl-btn-default {
    color: #00abff;
    background-color: #fff;
    border-color: #eee;
}

.dl-btn-default:hover {
    color: #00abff;
    border-color: #eee;
    background-color: #fcfcfc;
}

.dl-btn-default:focus {
    color: #fff;
    border-color: #00abff;
    background-color: #00abff;
}

.dl-btn-default-more:focus {
    color: #00abff;
    border-color: #eee;
    background-color: #fcfcfc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dl-btn-default-more-dropdown-menu {
    margin: 0;
    border: 0;
    padding: 0;
}

.dl-btn-default-more-dropdown-menu button {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
}

.dl-btn-default-more-dropdown-menu button:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dl-btn-success {
    color: #fff;
    border-color: #73cf22;
    background: #73cf22;
}

.dl-btn-success.create {
    padding-left: 32px;
    background: #73cf22 url("../../images/btn_icon_create.png") no-repeat 10px 10px;
}

.dl-btn-success:hover {
    color: #fff;
    background: #6cc41f;
    border-color: #6cc41f;
}

.dl-btn-success.create:hover {
    background: #6cc41f url("../../images/btn_icon_create.png") no-repeat 10px 10px;
}

.dl-btn-success:focus {
    color: #fff;
    background: #67ba1e;
    border-color: #67ba1e;
}

.dl-btn-success.create:focus {
    background: #67ba1e url("../../images/btn_icon_create.png") no-repeat 10px 10px;
}

.dl-btn-operate {
    background-color: #fff;
    color: #7c868d;
    min-width: 80px;
    border-color: #dddddd;
    height: 28px;
}

.dl-btn-operate:hover {
    background-color: #fcfcfc;
}

.dl-btn-operate:focus {
    background-color: #f8f8f8;
}

.dl-btn-operate-more {
    min-width: 55px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dl-btn-operate-more-dropdown-menu {
    margin: 0;
    border: 0;
    padding: 0;
}

.dl-btn-operate-more-dropdown-toggle {
    position: absolute;
    border: 1px solid #dddddd;
    border-left: 0;
    background: #fff;
    height: 100%;
    min-width: 20px;
    width: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dl-btn-operate-more-dropdown-toggle:hover,
.dl-btn-operate-more-dropdown-toggle:focus {
    background-color: #fcfcfc;
}

.dl-btn-operate-more-dropdown-toggle:after {
    margin-left: -3px;
    color: #7c868d;
}

.dl-btn-operate-more-dropdown-menu button {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
}

.dl-btn-operate-more-dropdown-menu button:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dl-btn-cancel {
    border: 1px solid #eeeeee;
    background-color: #fff;
    color: #00abff;
}

.dl-btn-cancel:hover {
    background-color: #fcfcfc;
}

.dl-btn-cancel:focus {
    background-color: #f8f8f8;
}

.dl-btn-delete {
    color: #fff;
    background-color: #ff5b55;
    border-color: #ff5b55;
}

.dl-btn-delete:hover {
    color: #fff;
    background-color: #f55651;
    border-color: #f55651;
}

.dl-btn-delete:focus {
    color: #fff;
    background-color: #eb534d;
    border-color: #eb534d;
}