/*****************************/
/* card
/****************************/
.dl-card {
    display: inline-block;
    border: 1px solid #e6e6e6;
    height: 230px;
    width: 360px;
    margin-right: 40px;
    border-radius: 2px;
}

.dl-card:hover {
    border: 1px solid #7fd5ff;
}

.dl-card-title {
    border-bottom: 1px solid #e6e6e6;
    height: 40px;
    padding: 11px 11px 11px 20px;
    color: #4d5761;
    font-size: 18px;
}

.dl-card-content {
    text-align: center;
    padding: 20px;
    color: #7c868d;
    font-size: 14px;
}

.dl-card.no-title {
    height: 180px;
}