/*****************************/
/* form
/****************************/
.dl-form-control > label {
    margin-bottom: 0;
    font-size: 14px;
    color: #4d5761;
    padding-right: 20px;
    width: 200px;
    text-align: right;
    cursor: pointer;
}

.dl-form-control .dl-input-wrapper {
    display: inline-block;
}

.dl-form-control .dl-select {
    display: inline-block;
}

.dl-form-control .dl-radio-group {
    display: inline-block;
}

.dl-form-control .dl-radio-group .dl-radio-wrapper:not(:first-child){
    margin-left: 70px;
}

.dl-form-buttons {
    margin-top: 20px;
    margin-left: 200px;
}

.dl-form-buttons button:not(:first-child) {
    margin-left: 10px;
}