<section class="dl-content-header">
  <h1>通知-Notice</h1>
  <small>通知通常成功、告警、错误四种场景，一般在顶部导航之下，页面之上。</small>
</section>

<section class="dl-content">

  <h2>场景一：成功通知</h2>
  <p>成功通知3秒后自动消失</p>
  <dl-button [classType]="'primary'">打开成功通知</dl-button>
  <dl-notice [classType]="'success'"></dl-notice>
  <div class="h-20"></div>
  <pre class="dl-pre">
    <code>
        {{successCode}}
    </code>
  </pre>

  <h2>场景二：告警通知</h2>
  <dl-button [classType]="'primary'">打开成功通知</dl-button>
  <dl-notice [classType]="'alarm'"></dl-notice>
  <div class="h-20"></div>
  <pre class="dl-pre">
    <code>
        {{alarmCode}}
    </code>
  </pre>

  <h2>场景三：警告通知</h2>
  <dl-button [classType]="'primary'">打开成功通知</dl-button>
  <dl-notice [classType]="'attention'"></dl-notice>
  <div class="h-20"></div>
  <pre class="dl-pre">
    <code>
        {{attentionCode}}
    </code>
  </pre>

</section>
